html, body {
	font: 12px sans-serif;
	padding: 50px;
	margin: 0px;
}

div.listexContainer {
	border-color: #76a7dc;
	background: #fff;
	display: inline-block;

	/* Fuck IE */
	zoom: 1;
	*display: inline;
}
div.listexContainer.open {
	border-color: #96c7fc;
}
div.listexContainer div.listexBox {
	padding: 5px;
	cursor: pointer;
	border: 1px solid;
	border-color: inherit;
}
div.listexContainer.open div.listexBox {
	color: #444;
	border-color: inherit;
}

div.listexContainer div.listexBox:hover span.listexText {
	color: #444;
}

div.listexContainer div.listexBox:hover span.listexArrow {
	border-color: #96c7fc transparent;
}

div.listexContainer div.listexBox span.listexArrow {
	float: right;
	border-top-color: inherit;
	border-bottom-color: inherit;
	border-left-color: transparent;
	border-right-color: transparent;
	border-style: solid;
	border-width: 10px 8px 0;
	margin-top: 3px;
	width: 0;
}

div.listexContainer ul.listexList {
	padding: 0px;
	margin: 0px;
	list-style: none;
	border: 1px solid;
	border-color: inherit;
	border-top: none;
	position: absolute;
	display: none;
	background: #fff;
}

div.listexContainer ul.listexList li {
	padding: 5px;
	cursor: pointer;
}
div.listexContainer ul.listexList li.selected {
	color: #76a7dc;
}
div.listexContainer ul.listexList li:hover {
	background: #76a7dc;
	color: #fff;
}
div.listexContainer ul.listexList li.disabled {
	background: #ccc !important;
	color: #000 !important;
	cursor: default !important;
}